.jp-carousel-info{
	display: none !important;
}

.jp-carousel-wrap.jp-carousel-light{
	overflow-x: visible !important;
	overflow-y: visible !important;
}

@media only screen and (max-device-width: 480px) {
<<<<<<< HEAD
    html, body {
=======
    .container {
>>>>>>> b8db5be81cb1606e25fc75930579a971f0a5d97b
        padding: 0 24px;
    }
    .jumbotron {
        margin: 180px 0 0;
    }
}
