.jp-carousel-info{
	display: none !important;
}

.jp-carousel-wrap.jp-carousel-light{
	overflow-x: visible !important;
	overflow-y: visible !important;
}

@media only screen and (max-device-width: 480px) {
<<<<<<< HEAD
    body > .container {
        margin: 0 24px;
    }
    .jumbotron {
        margin: 180px 0 0;
    }
}
